<!doctype html>
<html ng-app="main">
  <head>
    <title>Zelda Race</title>
  </head>
  <body ng-controller="MainCtrl">
    <div ng-show="state.gameState == 'setup'">
      <ul>
        <li ng-repeat="person in state.people">{{ person.name }}
          <button ng-click="deletePerson($index)">Delete</button>
        </li>
      </ul>
      <input ng-model="new_person_name">
      <button ng-click="addPerson()">Add Person</button>
      <button ng-click="startGame()">Start Game</button>
      <br>
      <img src="img/Link_sword.gif">
      <img src="img/animated.gif">
      <img src="img/ZeldaLinkAni.gif">
      <img src="img/tumblr_luk6zg0Xfd1qf86f3o1_400.gif">
    </div>
    <div ng-show="state.gameState == 'ready' || state.gameState == 'play'">
      <button ng-click="backToSetup()">Back</button>
      <table>
        <th>
          <td></td>
          <td ng-repeat="checkpoint in state.checkpoints">{{ checkpoint.name }}</td>
        </th>
        <tr ng-repeat="person in state.people">
          <td>{{ person.name }}</td>
          <td ng-repeat="checkpoint in state.checkpoints">{{ person.times[$index] }}</td>
        </tr>
      </table>
      <button ng-show="state.gameState == 'ready'" ng-click="readySetGo()" style="width:100%; height:500px; font-size:50px;">START GO!!!!!!</button>
      <button ng-show="state.gameState == 'play'" ng-click="everyoneWins()" style="width:100%; height:100px;">Everyone Is Done</button>
      <br>
      <img src="img/link.gif">
      <img src="img/original.gif">
    </div>
    <script src="angular.js"></script>
    <script src="prt.js"></script>
  </body>
</html>
