.fadein {
  -webkit-animation: fadein 1s infinite;
  -webkit-animation-direction: alternate;
}

.fadeout {
  -webkit-animation: fadein 1s infinite;
  -webkit-animation-direction: alternate-reverse;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


table {
  border: 0;
  border-left: 16px solid transparent;
  border-top: 16px solid transparent;
  border-image: url("img/navi-tiled.png") 33% 33% repeat;
}


td,th {
  border: 0;
  border-bottom: 16px solid transparent;
  border-right: 16px solid transparent;
  border-image: url("img/navi-tiled.png") 33% 33% repeat;
}

.rupee-display {
  font-size: 24px;
  font-family: monospace;
}
.rupee-display span {
  margin-right: 8px;
}
.rupee-display img {
  -webkit-transform: rotate(45deg);
  margin-right: 4px;
  max-width: 16px;
  vertical-align: middle;
}

.time-display {
  font-family: monospace;
  font-size: 16px;
}
